<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.orders/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.orders.view.user/UserListView.title"/>
        <item view="Customer.list" title="msg://com.company.orders.view.customer/customerListView.title"/>
        <item view="CustomerRegion.list"
              title="msg://com.company.orders.view.customerregion/customerRegionListView.title"/>
        <item view="Order_.list" title="msg://com.company.orders.view.order/orderListView.title"/>
        <item view="Country.list" title="msg://com.company.orders.view.country/countryListView.title"/>
    </menu>

</menu-config>